@import "./variables";
@import "./mixins";

/* common styles for site start*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font: 16px / 1.6 "Roboto", sans-serif;
  background-color: $white;
}

body {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: $black;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(../images/bg.jpg) repeat;
    opacity: 0.1;
  }
}

section {
  overflow-x: hidden;
}

h1,
h2,
h3,
p,
ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: inside;
}

h1,
h2,
h3 {
  font-weight: 700;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $whiteGrey;
  transition: 0.3s;

  &:hover {
    color: $orange;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.section-title {
  position: relative;
  z-index: 1;
  width: fit-content;
  max-width: 100%;
  padding-left: 35px;
  margin-bottom: 30px;
  font-family: "Concert One", cursive;
  font-weight: normal;
  font-size: 28px;
  color: $white;

  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
  }
  &:before {
    top: 5px;
    left: 0;
    width: 30px;
    height: 30px;
  }

  &:after {
    bottom: 0;
    left: 0;
    width: 60px;
    height: 4px;
    background-color: $red;
  }
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
/* common styles for site end*/

/*   media   start */
/*     < 991    */
@include tablet() {
  .section-title {
    font-size: 24px;
  }
}
/*     < 991    */

/*  <    575    */
@include mobile() {
  .section-title {
    margin-bottom: 20px;
    font-size: 22px;
  }
}
/*  <    575    */
/*   media   end */
