/* common styles for site start*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font: 16px / 1.6 "Roboto", sans-serif;
    background-color: #fff;
}

body {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #1a1a1a;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: url(../images/bg.jpg) repeat;
        opacity: 0.1;
    }
}

section {
    overflow-x: hidden;
}

h1,
h2,
h3,
p,
ul,
ol,
figure {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: inside;
}

h1,
h2,
h3 {
    font-weight: 700;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #e4e4e4;
    transition: 0.3s;

    &:hover {
        color: #d6aa81;
    }
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

button {
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

$bgColor1: #333c54;
$bgColor2: #101321;
$titleLine: #ed0b0e;

.section__title {
    position: relative;
    z-index: 1;
    padding-left: 35px;
    margin-bottom: 30px;
    font-family: 'Concert One', cursive;
    font-weight: normal;
    font-size: 28px;
    color: #fff;

    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
    }
    &:before {
        top: 5px;
        left: 0;
        width: 30px;
        height: 30px;
    }

    &:after {
        bottom: 0;
        left: 0;
        width: 60px;
        height: 4px;
        background-color: $titleLine;
    }
}

.page__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
/* common styles for site end*/

/* site header styles start*/
.header {
    width: 100%;
    margin-bottom: 30px;
    background-color: transparent;

    li {
        list-style: none;
    }

    .burger {
        display: none;
        width: 30px;
        height: 30px;
        padding: 0;
        border: none;
        background-color: transparent;

        span {
            position: relative;
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 5px;
            background-color: #d27230;

            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                border-radius: 5px;
                background-color: #d27230;
            }

            &:before {
                top: -5px;
                transition: 0.8s;
            }

            &:after {
                bottom: -5px;
                transition: 0.4s;
            }
        }
    }

    .active__burger {
        span {
            background: none;

            &:before {
                transform: translateY(5px) rotate(-405deg);
            }

            &:after {
                transform: translateY(-5px) rotate(45deg);
            }
        }
    }
}

.header__menu {
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: $bgColor1;

    .menu__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu__item {
        margin: 0 5px;
    }

    @keyframes topDown {
        0%,
        100% {
            left: 0;
        }
        10%,
        30%,
        50%,
        70%,
        90% {
            left: -2px;
        }
        20%,
        40%,
        60%,
        80% {
            left: 2px;
        }
    }

    .anchor {
        position: relative;
        z-index: 1;
        padding: 5px 25px;
        font-family: 'Concert One', cursive;
        font-size: 18px;
        color: #1a1a1a;

        &:hover {
            color: #d27230;

            &:before,
            &:after {
                left: 0;
                width: 100%;
                height: 100%;
                animation: none;
                filter: blur(0);
                transform: rotate(0);
                animation: topDown 3s infinite;

            }

            &:before {
                top: -5px;
                animation-direction: reverse;
            }
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            z-index: -1;
            transition: 0.3s;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            pointer-events: none;
            transition: 0.3s;
        }

        &:before {
            left: 0;
            background-color: #d6aa81;
            transform: rotate(8deg);
        }

        &:after {
            right: 0;
            background-color: #fff;
            transform: rotate(-8deg);
        }
    }
}

.photo__author {
    position: relative;
    z-index: 1;

    img {
        margin: 0 auto;
        border-radius: 10px;
    }
}

.logo__text {
    position: absolute;
    z-index: 1;
    font-size: 70px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
}

.top__text {
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
}

.text__left {
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%) rotate(180deg);
    writing-mode: vertical-lr;
}

.header__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 00px 20px;
    color: #fff;
    background-color: $bgColor1;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 50%;
        height: 100%;
        background-color: $bgColor2;
    }
}

.header__img {
    width: 100%;
}

.contacts__info {
    width: 48%;
    padding: 20px 30px 0;
    justify-self: flex-end;

    .section__title {
        width: max-content;
        max-width: 100%;
        margin-left: auto;

        &:before {
            background: url(../images/phone-call.png) no-repeat center center;
            background-size: contain;
        }
    }

    .contacts__links {
        width: max-content;
        max-width: 100%;
        margin: 0 0 0 auto;
    }
}

.social__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;

    .social__item {
        margin: 0 0 0 25px;
    }

    .link__item {
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px #d6aa8179;
        &:hover {
            transform: scale(1.2);
        }
    }

    .linkedin__link {
        background: #fff url(../images/linkedin.png) no-repeat center center;
        background-size: 80% 80%;
    }

    .viber__link {
        background: #fff url(../images/viber.png) no-repeat center center;
        background-size: 80% 80%;
    }

    .discord__link {
        background: #fff url(../images/discord.png) no-repeat center center;
        background-size: 80% 80%;
    }
}

.about__info {
    width: 48%;
    padding: 20px 30px 0;
    color: #e4e4e4;

    .section__title:before {
        background: url(../images/information.png) no-repeat center center;
        background-size: contain;
    }
}

.contacts__item {
    line-height: 1;

    &:not(:first-child) {
        margin-top: 20px;
    }
}

.phone__link:after {
    content: "\260F";
}

.mail__link:after {
    content: "\2709";
}

.contacts__link {
    position: relative;
    z-index: 1;
    padding-left: 35px;
    font: 700 20px/25px "Roboto";
    color: #e4e4e4;

    &:hover {
        color: #d6aa81;
    }

    &:after,
    &:before {
        position: absolute;
    }

    &:before {
        content: "";
        top: 0;
        left: 0;
        z-index: -1;
        width: 25px;
        height: 25px;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
        background: #fff;
    }

    &:after {
        top: 0;
        left: 0;
        z-index: -1;
        width: 25px;
        font: 400 24px/25px "Roboto";
        text-align: center;
        color: #000;
    }
}

.content__text {
    font-size: 16px;
    margin-top: 10px;
}
/* site header styles end*/

/* main content start*/
.main__content {
    width: 49.5%;
    padding: 10px;
    background-color: #fff;
    color: #e4e4e4;
    background-color: $bgColor1;
}
/* main content end*/

/* education section styles start*/
.education {
    padding-bottom: 60px;

    .section__title:before {
        background: url(../images/graduation-cap.png) no-repeat center center;
        background-size: contain;
    }

    strong {
        font-weight: 500;
        color: #d27230;
    }
}
/* education section styles end*/

/* experience section styles start*/
.experience {
    .experience__title:before {
        background: url(../images/experience.png) no-repeat center center;
        background-size: contain;
    }

    .english__title:before {
        background: url(../images/linguistics.png) no-repeat center center;
        background-size: contain;
    }

    a {
        font-weight: 600;
        text-decoration: underline;
        color: #d27230;

        &:hover {
            color: #d6aa81;
        }
    }

    .info__list {
        margin-bottom: 60px;
    }
}
/* experience section styles end*/

/* skils section styles start*/

.site__aside {
    width: 49.5%;
    margin-left: 1%;
    padding: 10px;
    color: #e4e4e4;
    background-color: $bgColor2;

    .subtitle {
        margin: 15px 0;
        font-size: 22px;
    }

    blockquote {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        margin: 10px auto;
        padding: 5px 5px 5px 20px;
        border: 1px solid #e0e0e0;
        border-left: 3px solid #ed0b0e;
        border-radius: 0 5px 5px 0;

        &:before {
            content: " “ ";
            position: absolute;
            top: 0;
            left: 2px;
            z-index: -1;
            display: inline-block;
            width: 25px;
            font-size: 40px;
            line-height: 1;
            color: #d27230;
        }
    }
    .section__title:before {
        background: url(../images/settings.png) no-repeat center center;
        background-size: contain;
    }

    .skills__lilst {
        margin-bottom: 60px;
    }

    .subtitle {
        position: relative;
        z-index: 1;
        padding-left: 35px;
        color: #fff;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            z-index: -1;
            width: 30px;
            height: 30px;
            background: url(../images/coding.png) no-repeat center center;
            background-size: contain;
        }
    }

    pre {
        margin: 0;
        padding: 0;
    }
}

.exaple__code {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
    color: #fff;
    background: #333c54;

    .hljs-keyword {
        color: #ec6c16;
    }

    .hljs-title {
        color: #0aeedb;
    }

    .hljs-string,
    .hljs-number {
        color: #0aee30;
    }
}

.skils__text {
    font-size: 16px;
}
/* skils section styles end*/

/* projects section styles start*/
.projects {
    margin: 30px 0 10px;
    background-color: transparent;

    .section__title {
        width: max-content;
        max-width: 100%;
        margin: 0 auto 20px;
        color: #000;

        &:before {
            background: url(../images/folder.png) no-repeat center center;
            background-size: contain;
        }
    }
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .list__item {
        width: 48%;
        min-height: 250px;
        margin: 0 1% 30px;
        list-style-type: none;
    }

    .photofilter {
        background: url(../images/photofilter.jpg) no-repeat center center;
    }

    .vertical_slider {
        background: url(../images/vertical_slider.jpg) no-repeat center center;
    }

    .momentum {
        background: url(../images/momentum.jpg) no-repeat center center;
    }

    .piano {
        background: url(../images/piano.jpg) no-repeat center center;
    }

    .react_shop {
        background: url(../images/react_shop.jpg) no-repeat center center;
    }

    .react_films {
        background: url(../images/react_films.jpg) no-repeat center center;
    }

    .item__link {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-shadow: 5px 5px 10px rgba(56, 45, 45, 0.6);
        border-radius: 10px;
        background-size: cover;
        overflow: hidden;

        &:hover {
            box-shadow: 1px 1px 15px rgba(236, 108, 22, 0.8);

            .item__name {
                &:before {
                    width: 100%;
                }
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.75);
        }

        span {
            display: block;
        }
    }

    .item__texnologies {
        color: #d27230;
        margin-bottom: 120px;
        font-weight: bold;
    }

    .item__name {
        position: relative;
        z-index: 1;
        width: max-content;
        max-width: 100%;
        margin-bottom: 10px;
        font-size: 22px;
        color: #fff;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 30px;
            height: 2px;
            background-color: #ed0b0e;
            transition: 0.5s;
        }
    }

    .item__description {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
    }
}
/* projects section styles end*/

/* site footer styles start*/
.footer {
    width: 100%;
    padding: 20px 0;
    background-color: $bgColor1;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    .link__item {
        margin: 0 10px;
        padding: 5px;
        border-radius: 10px;
        transition: 0.3s;
        list-style: none;

        &:hover {
            background: #e8e8e8;
            transform: translateY(-5px);
        }

        img,
        svg {
            width: auto;
            height: 40px;
        }
    }
}

.copyright__text {
    text-align: center;
    font-size: 20px;
    color: #fff;
}
/* site footer styles end*/

/*     768 - 999    */
@media screen and (min-width: 768px) and (max-width: 999px) {
    .section__title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 20px;
    }
    /* common styles for site end*/

    /* site header styles start*/
    .photo__author img {
        width: 250px;
    }

    .logo__text {
        font-size: 55px;
    }

    .top__text {
        top: -60px;
    }

    .text__left {
        top: 50%;
        left: calc(50% - 155px);
    }
    /* site header styles end*/
}
/*     768 - 999    */

/*     < 767    */
@media screen and (max-width: 767px) {
    /* site header styles start*/
    .header {
        padding-top: 10px;
        background-color: #101321;

        .burger {
            display: block;
            margin: 0 auto;
        }
    }

    .header__menu {
        position: absolute;
        top: 50px;
        left: -250%;
        z-index: 100;
        width: 100%;
        padding: 0;
        background-color: #fff;
        transition: 0.5s;

        .menu__list {
            flex-direction: column;
        }

        .menu__item {
            width: 100%;
            text-align: center;
            margin: 0;
            border-bottom: 1px solid #000;
        }

        li.menu__item ~ li.menu__item {
            margin-top: 5px;
        }

        .anchor {
            font-size: 16px;

            &:before,
            &:after {
                display: none;
            }
        }
    }

    .active__nav {
        display: block;
        left: 0;
    }

    .header__content {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        padding-top: 60px;

        .section__title {
            width: max-content;
            max-width: 100%;
            margin: 0 auto 20px;
        }
    }

    .contacts__info {
        width: 100%;

        .contacts__links {
            margin: 0 auto;
        }

        .contacts__link {
            display: block;
            width: max-content;
            max-width: 100%;
            margin: 0 auto;
            font-size: 18px;
        }
        .social__list {
            justify-content: center;

            .social__item {
                margin: 0 10px;
            }
        }
    }

    .about__info {
        width: 100%;
    }
    /* site header styles end*/

    /* projects section styles start*/
    .projects__list {
        justify-content: center;

        .list__item {
            width: 100%;
        }
    }
    /* projects section styles end*/
}
/*     < 767    */

/*     576 - 767    */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .section__title {
        font-size: 24px;
    }
    /* common styles for site end*/

    /* site header styles start*/
    .photo__author img {
        width: 200px;
    }

    .logo__text {
        font-size: 40px;
    }

    .top__text {
        top: -45px;
    }

    .text__left {
        top: 50%;
        left: calc(50% - 120px);
    }

    .contacts__info {
        padding: 20px;
    }

    .about__info {
        padding: 20px;
    }
    /* site header styles end*/

    .main__content {
        width: 95%;
        margin: 0 auto 20px;
    }

    .site__aside {
        width: 95%;
        margin: 0 auto;
    }

    /* projects section styles start*/
    .projects__list {
        .list__item {
            max-width: 520px;
            margin: 0 auto 30px;
        }
    }
    /* projects section styles end*/
}
/*     576 - 767    */

/*  <    575    */
@media screen and (max-width: 575px) {
    .section__title {
        width: max-content;
        max-width: 100%;
        margin: 0 auto 20px;
        font-size: 22px;
    }
    /* common styles for site end*/

    /* site header styles start*/
    .photo__author img {
        width: 160px;
    }

    .logo__text {
        font-size: 40px;
    }

    .top__text {
        top: -45px;
    }

    .text__left {
        left: calc(50% - 100px);
    }

    .contacts__info {
        margin-top: 20px;
    }

    .contacts__info,
    .about__info {
        padding: 10px 15px;
    }

    .contacts__link {
        padding-left: 25px;
        font-size: 16px;
        line-height: 20px;

        &:before {
            width: 20px;
            height: 20px;
        }

        &:after {
            width: 20px;
            font-size: 18px;
            line-height: 20px;
        }
    }
    /* site header styles end*/

    /* education section styles start*/
    .education {
        padding-bottom: 20px;
    }
    /* education section styles end*/

    /* experience section styles start*/
    .experience .info__list {
        margin-bottom: 20px;
    }

    .skils__text {
        font-size: 16px;
    }
    /* experience section styles end*/

    .main__content {
        width: 100%;

    }

    .site__aside {
        width: 100%;
        margin: 30px 0 0;

        .subtitle {
            display: block;
            width: max-content;
            max-width: 100%;
            margin: 0 auto 20px;
            font-size: 20px;
        }

        .skills__lilst{
            margin-bottom: 30px;
        }
    }

    /* projects section styles start*/
    .projects__list {
        .list__item {
            width: 90%;
            min-height: 250px;
            margin: 0 auto 20px;
        }

        .item__link {
            padding: 20px 10px;
        }

        .item__texnologies {
            margin-bottom: 50px;
        }

        .item__name {
            font-size: 20px;
        }
    }
    /* projects section styles end*/
}
/*  <    575    */
/*   media   end */
